:root {
	--headerheight: 50px;
	--footerheight: 260px;
}

html, body				{height: 100%}
p, a , button			{font-family: 'Fira Sans', sans-serif}

.headerholder			{width: 100%; height: var(--headerheight); background-color: #333333; position: fixed;
						top: 0; left: 0; text-align:center; z-index: 1000}
.headerholder a			{color: #efefef; font-size: 20px; position: relative;
						top: 15px; text-decoration: none; margin-left:20px;transition: 0.2s}
.headerholder a:hover	{color: #1abc9c}
.headerholder #name		{position: absolute; top: 15px; left: 80px}
.headerholder #login	{position: absolute; top: 15px; right: 20px}
.headerlogoholder		{width: 80px;height: 80px;background-color: #333333;position: absolute;
						top:0; left:0;border-radius: 40px;z-index: 2}
.headerlogoholder img	{position: relative; top: 8px; z-index: 3; width: 64px; height: 64px}

.page-container			{position: absolute; min-height: 100vh; width: 100%; top: 0; left: 0; overflow: hidden;
						background-color: #efefef; padding-top: 16px}
.content-wrap			{padding-bottom: var(--footerheight); padding: 20px; padding-top: 84px; padding-bottom:  280px}

.footer-container		{width: 100%; height: var(--footerheight); position: absolute; left: 0; bottom: 0; background-color: #333}
.footersmholder			{width: 100%;height: 50px; position: absolute; top: 0; left: 0; background-color: #222}
.footerspacer			{height: 50%}
.footercontent			{width: 90%; height: 180px; position: absolute; left: 5%; top: 70px}
.footercontentleft		{width: 47.5%; height: 100%; float: left}
.footercontentright		{width: 47.5%; height: 100%; float:right}
.footercontent img		{width: 150px}
.footercontent a		{text-decoration: none; color: #efefef; font-size: 16px; transition: 0.2s; margin-left: 12px}
.footercontent a:hover	{color: #1abc9c}
.footercontent br		{margin-top: 5px}
