main{
  min-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 5%;
}
#welcome{
	text-align: center;
}
#content ul{
	padding: 0px;
}
#content ul li{
	margin: 1em 0em;
	text-align: center;
}

#nickname{
	margin-left: 10px;
	padding: 0.5em;
}

.valid{
	border: 1px solid var(--right);
}
.invalid{
	border-color: 1px solid var(--wrong);
}

#validate{
	width: auto;
	padding: 5px;
}

#btnDiv{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
button{
	margin: 10px;
	width: 160px;
	padding: 0.5em;
}

#btnDiv{
	z-index: 10;
}

@media (device-width < 450px){
	#welcome{
		font-size: 4vh;
	}
	label, input, button{
		font-size: 3em;
	}
	button{
		width: 70%;
		margin: 20px;
	}
	a{
		font-size: 2em;
	}
}
